.section-specialty {
  height: 330px;
  background: #f5f5f5;

  .specialty-container {
    margin: 0 50px;
    display: flex;
    flex-direction: column;

    .specialty-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        float: right;
        padding: 12px 16px;
        border: none;
        outline: none;
        display: block;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }

    .specialty-body {
      .specialty-content {
        height: 250px;

        /* the parent */
        .slick-list {
          background: #fff;
        }

        /* the slides */
        .slick-slide {
          padding-left: 10px;
          padding-right: 10px;
        }

        .img-customize {
          padding-left: 5px;
          padding-right: 5px;
          border: 1px solid #eee;
          height: 250px;
        }

        .slick-prev {
          height: 45px !important;
          width: 40px !important;
          z-index: 10;
          margin-left: 20px !important;
          background: #45c3d2 !important;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }

        .slick-next {
          height: 45px !important;
          width: 40px !important;
          z-index: 10;
          margin-right: 20px !important;
          background: #45c3d2 !important;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}